[DEFAULT]
debug = {{ glance.debug }}

use_syslog = False
use_stderr = True
use_forwarded_for = True

bind_host = {{ network_topology["private"]["address"] }}
bind_port = {{ glance.api_port }}

registry_host = glance-registry
{% if ceph.glance_enable %}
show_image_direct_url = True
{% endif %}

cinder_catalog_info = volume:cinder:internalURL

[database]
connection = mysql+pymysql://{{ glance.db.username }}:{{ glance.db.password }}@{{ address('mariadb') }}/{{ glance.db.name }}
max_retries = -1

[keystone_authtoken]
auth_uri = http://{{ address('keystone') }}:{{ keystone.public_port }}
auth_url = http://{{ address('keystone') }}:{{ keystone.admin_port }}
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = {{ openstack.project_name }}
username = {{ glance.user }}
password = {{ glance.password }}
memcached_servers = {{ address('memcached') }}:{{ memcached.port }}


[paste_deploy]
flavor = keystone

[glance_store]
{% if ceph.glance_enable %}
stores = rbd
default_store = rbd
rbd_store_pool = {{ ceph.glance_pool_name }}
rbd_store_user = {{ ceph.glance_username }}
rbd_store_ceph_conf = /etc/ceph/ceph.conf
{% elif swift.glance_enable %}
stores = swift
default_store = swift
swift_store_create_container_on_put = {{ swift.glance_store_create_container_on_put }}
swift_store_region = RegionOne
default_swift_reference = swift
swift_store_container = {{ swift.glance_store_container }}
swift_store_config_file = /etc/glance/glance-swift-store.conf
{% else %}
default_store = file
filesystem_store_datadir = /var/lib/glance/images/
{% endif %}

{% if ceph.glance_enable %}
[image_format]
container_formats = bare
disk_formats = raw
{% endif %}

[oslo_messaging_notifications]
driver = noop
