[DEFAULT]
debug = {{ glance.debug }}

use_syslog = false
use_stderr = true
use_forwarded_for = true

{% if glance.tls.enabled %}
bind_host = 127.0.0.1
{% else %}
bind_host = {{ network_topology["private"]["address"] }}
{% endif %}
bind_port = {{ glance.registry_port.cont }}

[database]
connection = mysql+pymysql://{{ glance.db.username }}:{{ glance.db.password }}@{{ address(service.database) }}/{{ glance.db.name }}{% if db.tls.enabled %}?ssl_ca=/opt/ccp/etc/tls/ca.pem{% endif %}
max_retries = -1

{{ keystone_authtoken.keystone_authtoken(glance.user, glance.password) }}

[paste_deploy]
flavor = keystone

{% if searchlight is defined and searchlight.services.glance -%}
[oslo_messaging_notifications]
driver = {{ searchlight.notification_driver }}
{%- endif %}

{# rpc config is required for notifications in stable/mitaka #}
{{ oslo_messaging[messaging.backend.rpc]('rpc_config') }}
{{ oslo_messaging[messaging.backend.notifications]('notifications_config') }}
