[swift] 
auth_version = 3 
auth_address = http://{{ address('keystone') }}:{{ keystone.public_port }}/v3
user = {{ openstack.project_name }}:{{ glance_user }}
key = {{ glance_password }} 
project_domain_id = default 
user_domain_id = default 
