server {
    listen {{ network_topology["private"]["address"] }}:{{ glance.registry_port.cont }} ssl;
    include common/ssl.conf;
    # allows to upload images without being cut off at some low size
    client_max_body_size 0;

    location / {
        proxy_pass http://glance_registry;
        include common/proxy-headers.conf;
    }
}
